<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<location path="" overrideMode="Inherit">
<system.webServer>
<httpErrors errorMode="Detailed" />
<urlCompression doDynamicCompression="false" />
<staticContent>
</staticContent>

<httpProtocol>
<customHeaders>
<remove name="Vary" />
<add name="Cache-Control" value="public" />
<add name="Vary" value="Accept-Encoding" />
</customHeaders>
</httpProtocol>
<caching>
<profiles>
<clear />
<add extension=".jpg" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="10:00:10" />
<add extension=".jpeg" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="10:00:10" />
<add extension=".png" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="10:00:10" />
<add extension=".gif" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="10:00:10" />
<add extension=".js" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="10:00:10" />
<add extension=".css" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="10:00:10" />
<add extension=".woff" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="10:00:10" />
<add extension=".svg" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="10:00:10" />
</profiles>
</caching>

<rewrite> 
<rules>

<rule name="Redirect to https" stopProcessing="true">
<match url="(.*)" />
<conditions>
<add input="{HTTPS}" pattern="off" ignoreCase="true" />
</conditions>
<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="true" />
</rule>

<rule name="home">
<match url="^home" ignoreCase="true" />
<action type="Rewrite" url="index.asp" appendQueryString="true" />
</rule>

<rule name="servicos">
<match url="^servicos" ignoreCase="true" />
<action type="Rewrite" url="servicos.asp" appendQueryString="true" />
</rule>

<rule name="atuacao">
<match url="^atuacao/([0-9]+)/([_0-9a-z-]+)" ignoreCase="true" />
<action type="Rewrite" url="/p_servicos.asp?id={R:1}&amp;name={R:2}" appendQueryString="true" />
</rule>


<rule name="contato">
<match url="^contato" ignoreCase="true" />
<action type="Rewrite" url="contato.asp" appendQueryString="true" />
</rule>

<rule name="send">
<match url="^send" ignoreCase="true" />
<action type="Rewrite" url="/includes/send.asp" appendQueryString="true" />
</rule>

</rules>
</rewrite>
            <handlers>
                <add name="PHP-FastCGI7.2" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php7.2\php-cgi_2.exe" resourceType="File" />
            </handlers>

<defaultDocument enabled="true">
                <files>
                    <add value="index.htm" />
                    <add value="index.html" />
                    <add value="index.php" />
                    <add value="index.asp" />
                    <add value="default.asp" />
                    <add value="index.aspx" />
                    <add value="default.aspx" />
                </files>
</defaultDocument>
</system.webServer>
</location>
</configuration>