<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Engenheiro Rafael{% endblock %}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/static/site.css" rel="stylesheet">
  <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="/static/dist/css/style.css">
  <link rel="stylesheet" type="text/css" href="/static/dist/css/simplelightbox.min.css">
  {% comment %} <meta property="og:title"        content="<%=g_metaTitle%>"/>
  <meta property="og:description"	 content="<%=g_metaDesc%>"/>
  <meta name="description" 		 content="<%=g_metaDesc%>"/>
  <meta name="keywords" 			 content="<%=g_palavraChave%>"/> {% endcomment %}

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-M28WRNLR');</script>
  <!-- End Google Tag Manager -->



  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M28WRNLR"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
</head>
<body>
  <header><a href="/">Home</a> | <a href="/servicos">Serviços</a> | <a href="/contato">Contato</a></header>
  <main>{% block content %}{% endblock %}</main>
  <footer>&copy; {{ now|default:"" }}</footer>
</body>
</html>