{% extends "base.html" %}
{% block title %}Contato{% endblock %}
{% block content %}
<h1>Contato</h1>
<form method="post" action="/send">
  {% csrf_token %}
  <input name="nome" placeholder="Seu nome" required><br>
  <input name="email" type="email" placeholder="Seu e-mail" required><br>
  <input name="telefone" placeholder="Telefone"><br>
  <input name="assunto" placeholder="Assunto"><br>
  <textarea name="mensagem" placeholder="Mensagem" required></textarea><br>
  <button type="submit">Enviar</button>
</form>
{% endblock %}