{% extends "base.html" %}
{% block title %}Home - Engenheiro Rafael{% endblock %}
{% block content %}

<div class="lineNav"></div>
<nav class="navbar navbar-expand-lg navbar-light bg-marrom">
   <div class="container">
      <div class="position-relative">
         <a class="navbar-brand" href="/home">
          <img src="/static/assets/logo.svg" width="279" height="55" alt="logo" class="h40">
        </a> 
        <div class="logo2">
          <img src="/static/assets/logo2.svg" height="39" width="37" alt='img'>
        </div>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="menu">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="menu">
         <ul class="navbar-nav ms-lg-auto mt-2 mb-1 my-lg-0">
                {% for s in servicos %}
                  <li class='nav-item'>
                    <a class='nav-link "&active&"' href="/atuacao/{{ s.id }}/{{ s.slug }}">{{ s.titulo }}</a>
                  </li>
                {% empty %}
                  <li>Sem serviços cadastrados.</li>
                {% endfor %}
            <li class="nav-item d-flex align-items-center ms-lg-2">
               <a class="btn-color btn ligar" href="tel:+5551998420426">(51) 99842-0426</a>
            </li>
            <li class="nav-item align-items-center ms-3 d-none d-lg-flex">
              <div class="oval-verde">
                <a href="https://www.instagram.com/engenheirorafael_" rel="noreferrer" target='_blank'>
                  <img src="/static/assets/icons/insta.svg" height="33" width="33" alt='img'>
                </a>
              </div>
            </li>
         </ul>
      </div>
   </div>
</nav>

{% comment %} <ul>
  {% for s in servicos %}
    <li><a href="/atuacao/{{ s.id }}/{{ s.slug }}">{{ s.titulo }}</a> — {{ s.resumo }}</li>
  {% empty %}
    <li>Sem serviços cadastrados.</li>
  {% endfor %}
</ul> {% endcomment %}
{% endblock %}
