{% extends "base.html" %}
{% block title %}{{ atuacao.p_titulo }} - Engenheiro Rafael{% endblock %}
{% block content %}
<div class="boxGreenTitle">
    <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="titleServices">{{ atuacao.p_titulo }}</div>
        </div>
    </div>
    </div>
</div>
<div class="pagInternas">
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-6 order-2 order-lg-1 mt-4 mt-lg-0 small-demo">
            {% if atuacao.imagem %}
                <a href='{{ atuacao.imagem.url }}'><img src='{{ atuacao.imagem.url }}' alt='{{ atuacao.p_titulo }}' loading='lazy' class='w-100'></a>
            {% endif %}
        </div>
        <div class="col-md-10 col-lg-6 my-auto px-lg-4 px-xl-5 px-xxl-6 order-1 order-lg-2">
            <div class="text-center">
                <img src="/static/assets/fineLine.svg" alt="img2">
                <h1 class="mt-3 mb-0 px-lg-3 title1">{{ atuacao.p_titulo }}</h1>
            </div>
            <div class="mt-lg-4 mt-3 px-lg-4">
                {% if atuacao.p_desc %}
                <div class="lineText">
                    <p>{{ atuacao.p_desc|linebreaks }}</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}